.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.cardWrapper {
  display: flex;
  width: 620px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
